.auth-form {
  width: 100%;
  max-width: 36rem;
  padding: 1rem;
  margin: auto;
  background-color: #171717;
  border-radius: 25px;
  box-shadow: 2px 5px 10px rgb(5, 5, 5);
}

.righthalf {
  width: 50%;
  margin-right: 1rem;
}

.title__ {
  color: #ebebeb;
  text-align: center;
  font-size: 2rem;
  padding: 0;
  margin: 0.5rem;
}

.lefthalf {
  width: 50%;
  height: calc(100vh - 3rem);
  margin-right: 1rem;
  background-color: #30065f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237c05ad'/%3E%3Cstop offset='1' stop-color='%237c05ad' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233e1a7b'/%3E%3Cstop offset='1' stop-color='%233e1a7b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238221c1'/%3E%3Cstop offset='1' stop-color='%238221c1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2330065F'/%3E%3Cstop offset='1' stop-color='%2330065F' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F200FF'/%3E%3Cstop offset='1' stop-color='%23F200FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234F3A8B'/%3E%3Cstop offset='1' stop-color='%234F3A8B' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lefthalf img {
  object-fit: cover;
  width: 100%;
  height: 90vh;
}

.container__auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.centeredDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 968px) {
  .lefthalf {
    display: none;
  }
  .righthalf {
    width: 100%;
  }

  .auth-form {
    margin: auto;
    width: 90%;
    max-width: 36rem;
  }
}
