.button {
  --color: #560bad;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2em;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--color);
  padding: 0;
 }
 
 .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .button:hover {
  color: #fff;
 }
 
 .button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .button:active:before {
  background: #780ca3;
  transition: background 0s;
 }