.button {
  font-size: 17px;
  cursor: pointer;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: rgb(124, 20, 204);
  color: white;
  border-radius: 4px;
}

.button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(169, 30, 255) 0%,
    rgb(157, 0, 255) 100%
  );
}

.button:active {
  transform: translate(0em, 0.2em);
}
a.button {
  text-decoration: none;
}

.authButton {
  margin: 2px;
  padding: 12px 45px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(111, 19, 131, 1) 9%,
    rgba(189, 25, 187, 1) 50%,
    rgba(85, 33, 175, 1) 87%
  );
  border: none;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 1.1rem;
}

.authButton:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: scale(1.02);
}

.button--delete{
  background-color: rgb(225, 58, 58);
}

.button--edit{
  background-color: #6ee67e;
}