.post {
  margin: 1rem;
  border: 1px solid #560bad;
  border-radius: 5px;
  padding: 0.5rem;  
  color: #f2f2f2;

}

.post__meta {
  font-size: 1rem;
  margin: 0;
}
.ruler__small{
  border: none;
  border-bottom: 2px dashed ;
  margin:0.8rem auto 0.4rem;
  width: 90%;
  max-width: 400px;
}
.post__title {
  font-size: 1.5rem;
  margin: 1rem auto;
  text-align: center;
  color: #560bad;
}

.post__content{
  text-align: center;
  margin: 0.5rem;
  font-size: 1rem;
}

.post__image {
  height: 16rem;
  width: 100%;
}

.post__actions {
  text-align: center;
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (min-width: 768px) {
  .post {
    padding: 1rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
